:root {
    --heart: "m200 85.5c-52.48-90.765-195.2-64.48-195.2 49.96 0 75.31 88.21 155.42 187.645 250.815 1.995 1.935 4.56 2.905 7.15 2.905s5.155-0.97 7.15-2.905c99.434-95.385 187.645-175.505 187.645-250.815 0-114.44-142.72-140.725-195.2-49.96z";
}

html {
    cursor: none;
    color: #83101f;
    background-color: #f1ece6;
}


body:hover>#cursor {
    opacity: 1;
}

body:hover>#pointer {
    opacity: 1;
}


#cursor {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    pointer-events: none;
    /* Remove opacity and transition */
    border: 2px solid #83101f;
}

#pointer {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    pointer-events: none;
    /* Remove opacity and transition */
    background-color: #83101f;
    /* Remove opacity and transition */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.nav-item {
    padding: 15px;
    color: #FAFAFF;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    border: none;
    transition: all 200ms ease;
    margin: 20px;
}

.nav-item:hover {
    font-size: 12px;
    font-size-adjust: 20px;
}



header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #83101f;
    border-radius: 60px;
}


.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    text-decoration: none;
    color: #f1ece6
}

.title-container {
    color: #f1ece6;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #f1ece6;
}


.title-container {
    color: #f1ece6;
}



.image {
    max-width: 100%;
}

.title {
    text-align: center;
    font-size: 2em;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columns */
    grid-template-rows: auto auto auto auto;
    /* 3 rows */
    gap: 10px;
    /* Add some gap between grid items for spacing */

    /* Define grid areas for different items */
    grid-template-areas:
        "title-container title-container title-container title-container"
        "image1 image2 image3 image4"
        "article-container article-container article-container article-container"
        "image5 image6 image7 image8";
}

.title-container {
    grid-area: title-container;
}

.title-container h1,
.title-container h2 {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.article-container {
    grid-area: article-container;
}

.main-content .image-container {
    color: #83101f !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #83101f !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease-in-out
}

.article {
    font-size: 2em;
    text-align: center;
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
}

/*SIGNUP CSS */


.loginlogo:hover {
    width: 2.5em;
    transition: width 0.3s ease;
}

.sign-up {
    display: flex;
    flex-direction: column;
}

.sign-up img {
    width: 2em;
    padding-top: 5px;
    /* Setting the width to 5px */
    height: auto;
    /* Allows the image to scale proportionally */
}



/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    background-color: #83101f;
    border-radius: 10%;
    border-color: black;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
    width: 70%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: white;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}




@media only screen and (max-width: 600px) {
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header {
        display: flex;
        flex-direction: row;
    }

    .hamburger {
        display: block;
        margin-right: 20px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 30%;
        transform: translate(-50%, -50%);
        gap: 0;
        flex-direction: column;
        width: 50%;
        text-align: center;
        transition: 0.3s;
        background-color: #B6BBC4;
        border-radius: 20px;
    }

    .nav-item {
        margin-right: 35px;
    }

    .nav-menu.active {
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
    }
}